/* 1 Vị trí 
2 Kích thước 
3 Màu sắc
4 kiểu dáng */

/* Từ ngoài vào trong

Từ trên xuống dưới
a
Từ tổng quan đến chi tiết */
:root {
    --text-color:#717171 ;
    --header-color:#000 ;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
*{
    font-family: 'Roboto', sans-serif;
    padding: 0 ;
    margin: 0;
}
body {
    color: var(--text-color);
}
h2{
    color: var(--header-color);
    font-weight: 500;
}
h6{
    color: var(--header-color);
    opacity: 0.9;
    font-weight: 500;
}
.hide {
    display: none !important;
}
.display-flex {
    display: flex !important;
}
#main {
}
#header {
    height: 550px;
    background: url("../image/background3.jpg") center/ cover no-repeat;
    position: relative;
}

/* ---------------------------------Header Top--------------------------------- */

.header__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--white-color);
    min-height: 80px;
    position: relative;
}

.header__middle-normal {
    /* display: none; */
}
.header__middle-fixed {
    min-width: 300px;
    display: flex;
    border-radius: 40px;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    border: 1px solid #ddd;
    box-shadow: 0px 1px 2px rgb(0 0 0 / 8%);
    background-color: var(--white-color);
    display: none;
}
.header__middle-fixed-text {
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 500;
}
.header__middle-fixed-btn {
    --size: 32px;
    font-size: 1.2rem;
    background-color: var(--red-color);
    width: var(--size);
    height: var(--size);
    line-height: var(--size);
    text-align: center;
    border-radius: 50%;
}
.header__middle-fixed-btn-icon {
}
.header__top {
}
.header__logo {
}
.header__logo-link,
.header__middle-item a,
.header__right-link,
.header__right-user-sub-link {
    color: var(--white-color);
    text-decoration: none;
}

.header__logo-link:hover {
    color: var(--white-color);
}
.header__middle {
}

.header__middle-list {
    margin: 0 -16px;
}
.header__middle-item {
    --height: 40px;
    color: var(--white-color);
    font-size: 1.6rem;
    background-color: transparent;
    height: var(--height);
    line-height: var(--height);
    padding: 0 16px;
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.header__middle-item:hover.header__middle-item::before {
    display: block;
}
.header__middle-item:hover {
    opacity: 0.9;
}
.header__middle-item::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 2px;
    background-color: var(--white-color);
    display: none;
}
.header__middle-button::after {
}

.header__right {
}
.header__right-item {
    height: 42px;
    background-color: transparent;
    color: var(--white-color);
    font-size: 1.6rem;
    padding: 0 12px;
    display: inline;
}

.header__right-link {
    display: inline-block;
    line-height: 40px;
    border-radius: 21px;
}
.header__right-link:hover,
.header__right-button:hover {
    background-color: rgba(255, 255, 255, 0.15);
    color: var(--white-color);
    text-decoration: none;
}
.header__right-button {
    border-radius: 50%;
}
.header__right-user {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white-color);
    border-radius: 21px;
    position: relative;
    cursor: pointer;
}

.header__right-menu-icon {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-right: 12px;
}
.header__right-user-icon {
    font-size: 2.6rem;
    color: var(--text-color);
    /* margin-right: 12px; */
    margin-top: 2px;
}
.header__right-user:active ~ .header__right-user-sub,
.header__right-user:hover ~ .header__right-user-sub {
    display: block;
}
.header__right-user-sub {
    min-width: 236px;
    background-color: var(--white-color);
    position: absolute;
    border-radius: 12px;
    top: 90%;
    right: 0%;
    padding: 12px 0;
    z-index: 2;
    display: none;
    box-shadow: rgb(0 0 0 / 16%) 0px 6px 16px;
    animation: fadeIn 1s ease-in-out;
}

.header__right-user-sub-account {
}

.header__right-user-sub-link {
    display: block;
    font-size: 1.5rem;
    font-weight: 300;
    padding: 11px 16px;
    line-height: 1.6rem;
    color: var(--text-color);
}
.header__right-user-sub-link:hover {
    background-color: #f7f7f7;
    text-decoration: none;
    color: var(--text-color);
}

.header__search {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    background-color: var(--white-color);
    color: var(--text-color);
    align-items: center;
    border-radius: 32px;
    min-width: 850px;
    height: 66px;
    z-index: 1;
}

.header__search-item {
    height: 100%;
    min-width: 164px;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 24px;
    position: relative;
    flex: 1;
    cursor: pointer;
    line-height: 100%;
    padding: 0 24px;
}
.header__search-item:not(:first-child)::before {
    content: " ";
    display: block;
    width: 1px;
    height: 40px;
    position: absolute;
    background-color: #ddd;
    left: -4px;
}

.header__search-place {
    padding: 0px 32px;
    margin: 2px 0;
}
.header__search-item + .header__search-item {
    margin-left: 8px;
}

.header__search-item-title {
    color: var(--text-color);
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 7px;
}
.header__search-item-input {
    background-color: transparent;
    font-size: 1.4rem;
    width: 100%;
}

.header__search-item-content {
    color: #727272;
    font-size: 1.4rem;
    line-height: 1.5rem;
}

.header__search-btn {
    --height: 44px;
    border-radius: 50%;
    background-color: #ff385c;
    height: var(--height);
    line-height: var(--height);
    padding: 0 14px;
    position: absolute;
    right: 16px;
}
.header__search-btn-icon {
    font-size: 1.6rem;
    position: relative;
    top: 2px;
    color: var(--white-color);
}

.header__search-customer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-width: 220px;
    position: relative;
    flex: 1;
}
/* ---------------------------------Header Content--------------------------------- */
.header__content {
    position: absolute;
    bottom: calc(27% + 2px);
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.header__content-title,
.header__content-btn-link {
    font-size: 1.8rem;
    color: var(--white-color);
    font-weight: 600;
}

.header__content a {
    display: inline-block;
    font-weight: bold;
    padding: 20px 0;
    margin-top: 17px;
    width: 100%;
    background-color: var(--white-color);
    border-radius: 54px;
    line-height: 2.1rem;
    text-decoration: none;
}
.header__content span {
    background: linear-gradient(90deg, #6f019c 0%, #c6017e 135.12%) !important;
    -webkit-background-clip: text !important;
    color: transparent;
}
.header__content-btn-link:hover {
    box-shadow: 0px 8px 20px rgb(0 0 0 / 20%) !important;
}

/* ---------------------------------Section--------------------------------- */
.section-item {
    padding: 40px 0;
}
.section-item a {
    text-decoration: none;
    color: var(--text-color);
}
.section-item-1 a {
    display: flex;
    align-items: center;
}
.section-item__heading {
    font-size: 3.2rem;
    margin-bottom: 24px;
}

.section-item-1 {
    /* dat bien de col ben base.css chia cot */
    --col-number: 4;
    --space-col: 12px;
}

.nearest-place-item {
    display: flex;
    align-items: center;
}
.nearest-place-item-info {
    font-size: 1.5rem;
}
.nearest-place-item:hover {
    opacity: 0.8;
}
.nearest-place-item + .nearest-place-item {
    margin-top: 18px;
}
.nearest-place-item-img img {
    width: 64px;
    margin: 0 20px 0 0;
    border-radius: 8px;
}
.nearest-place-item-name {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0;
}

.nearest-place-item-hours {
    margin-top: 4px;
    font-size: 1.5rem;
    display: block;
}

/* -------------------------Footer------------------------- */

.section-item-2 {
    /* dat bien de col ben base.css chia cot */
    --col-number: 4;
    --space-col: 9px;
}
.section-item-2-img {
    width: 100%;
    border-radius: 8px;
}

.section-item-2__item:hover,
.section-item-3__item:hover {
    opacity: 0.8;
}
.section-item-2__title {
    margin: 10px 0 0 0;
    font-size: 1.7rem;
}

.section-item-2-banner {
    --size: 360px;
    background: url(../image/banner.webp);
    height: var(--size);
    margin-top: 60px;
    padding: 0 76px;
    border-radius: 16px;
    color: var(--white-color);
    align-items: center;
    display: flex;
}
.section-item-2-banner-container {
    max-width: var(--size);
}
.section-item-2-banner-container h6 {
    font-size: 3rem;
}
.section-item-2-banner-container p {
    font-size: 1.6rem;
    margin: 16px 0;
}
.section-item-2-banner-container-btn {
    padding: 8px 12px;
    background-color: var(--white-color);
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 500;
}
.section-item-2-banner-container-btn:hover {
    opacity: 0.7;
}
.section-item-3 {
    --col-number: 3;
    --space-col: 9px;
}
.section-3-item-img {
    width: 100%;
    border-radius: 8px;
}
.section-3-item-content {
    margin: 8px 0 0;
}
.section-3-item-content h6 {
    font-size: 1.7rem;
    font-weight: bold;
}
.section-3-item-content p {
    font-size: 1.4rem;
    margin-top: 4px 0 0;
}

/* ---------------------------------Footer--------------------------------- */

#footer {
    --col-number: 4;
    --space-col: 12px;
    background-color: var(--gray-color);
}
.footer__top {
    padding: 48px 0;
}
.footer__item-heading {
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: bold;
}
.footer__item__link {
    font-size: 1.5rem;
    font-weight: 400;
    display: flex;
    flex-direction: column; /* chon huong de canh cac item theo cot */
    flex-wrap: wrap;
    align-items: flex-start; /* don cac item ve ben trai */
}
.footer__item__link-item {
    margin: 16px 0 0;
    line-height: 1.7rem;
}

.footer__item__link-item:hover {
    color: var(--text-color);
    opacity: 0.7;
    text-decoration: none;
}

.footer__bottom {
    --col-number: 2;
    --space-col: 0;
    border-top: 1px solid #ddd;
    font-size: 1.4rem;
    padding: 26px 0;
}

.footer__bottom__copyright,
.footer__bottom__social {
    display: flex;
}

.footer__bottom__social {
    justify-content: flex-end;
}

.footer__bottom__link-item {
    margin: 0 0 0 8px;
}

.footer__bottom__link-item:hover,
.footer__bottom__languages:hover,
.footer__bottom__currency:hover {
    text-decoration: underline;
    opacity: 0.8;
    cursor: pointer;
    color: var(--text-color);
}

.footer__bottom__languages i,
.footer__bottom__currency i,
.footer__bottom__social i {
    font-size: 1.5rem;
}

.footer__bottom__currency {
    margin: 0 40px 0 20px;
}

.footer__bottom__social-item {
    padding: 12px;
}

.footer__bottom__social-item:hover {
    opacity: 0.9;
    color: #ddd;
}

.footer__bottom__social-item + .footer__bottom__social-item {
    margin-left: 28px;
}

/* ---------------------------------Modal--------------------------------- */
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 11;
    display:none;

}
.language-currentcy-container,
.language-currentcy-modal {
    background-color: var(--white-color);
    width: 56vw;

    z-index: 99;
    /* display: none; */
    animation: fadeIn linear 0.3s;
}
.language-currentcy-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 70vh;
    border-radius: 12px;
    display:none;
}
.language-currentcy-modal {
    width:calc( 56vw - 1px);
    position: fixed;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    min-height: 60vh;
    padding: 24px;
    overflow-y: scroll;
}

.modal-close{
    position: absolute;
    padding: 18px;
    margin-left: 7px;
    font-size: 1.8rem;
    cursor: pointer;
}
.modal-navbar {
    /* margin-top: 48px; */
    margin-left: -8px;
    margin-right: -8px;
    position: relative;
}
.modal-navbar:after {
    content: "";
    height: 1px;
    width: calc(100% - 16px);
    position: absolute;
    bottom: 0;
    left: 8px;
    background-color: #DDD;
}
.modal-navbar-item{
    display: inline-block;
    --padding-left: 8px;
    padding: 10px var(--padding-left);
    font-size: 1.4rem;
    font-weight: 200;
}
.modal-navbar-item--active {
    position: relative;
}
.modal-navbar-item--active:after{
    content: "";
    height: 1px;
    width: calc(100% - calc(2 * var(--padding-left)));
    position: absolute;
    bottom: 0;
    left: 8px;
    background-color: #555;

}

/* ---------------------------------Mobile--------------------------------- */
.header__mobile {
    height: 80px;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: none;
    background-color: #fff;
}
.header__mobile-btn {
    width: 90%;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white-color);
    font-size: 1.4rem;
    border-radius: 48px;
    right: 100%;
}
.header__mobile-btn {
    background-color: #f7f7f7;
}
.header__mobile-icon {
    color: #ff385c;
    margin-right: 4px;
}
/* .header__mobile--background .header__mobile-btn{
    background-color: #f7f7f7;
} */

/* ---------------------------------Mobile Navbar--------------------------------- */

.navbar-mobile {
    --navbar-height: 76px;
    height: var(--navbar-height);
    background-color: var(--white-color);
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
}
